// Fonts
.title { font-family: 'Title'; }
// Flexbox
.flex-nogrow { flex-grow: 0; }
.flex-grow { flex-grow: 1; }
.flex-noshrink { flex-shrink: 0; }
.flex-shrink { flex-shrink: 1; }
.flex-row-wrap { display: flex; flex-direction: row; flex-wrap: wrap; }
.flex-row-nowrap { display: flex; flex-direction: row; }
.flex-column-wrap { display: flex; flex-direction: column; flex-wrap: wrap}
.flex-column-nowrap { display: flex; flex-direction: column; }
.flex-vcenter { align-items: center }
.flex-hcenter { justify-content: center }
.flex-center { align-items: center; justify-content: center; }
// List
.list-inside { list-style-position: inside }
// Whitespace
.prewrap { white-space: pre-wrap; }
// Line-height
.lh-0 { line-height: 0; }
// Bold
.no-b { font-weight: normal; }
// Align
.justify { text-align: justify; }
// Overflow
.oh { overflow: hidden; }
.oy { overflow-y: auto; }
// Font-size
.f7 { font-size: .65rem; }
.f8 { font-size: .5rem; }
// Colors
.purple { color: $purple };
.transparent { color: $background; }
// Backgrounds
.bg-purple { background-color: $purple };
// Borders
.b--purple { border-color: $purple; }
// Hover
.hover-purple:hover { color: $purple; }
// Text shadow
.no-text-shadow { text-shadow: none; }
// Vertical align
.v-textbottom { vertical-align: text-bottom; }
// Borders
.bt0 { border-top-width: 0; }
.br0 { border-right-width: 0; }
.bb0 { border-bottom-width: 0; }
.bl0 { border-left-width: 0; }


// Font Awesome
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-meetup:before { content: "\f2e0"; }
.fa-youtube:before { content: "\f167"; }
.fa-slideshare:before { content: "\f1e7"; }
// Let Font Awesome scale with Tachyons
.fa.f1 { font-size:3rem; }
.fa.f2 { font-size:2.25rem; }
.fa.f3 { font-size:1.5rem; }
.fa.f4 { font-size:1.25rem; }
.fa.f5 { font-size:1rem; }
.fa.f6 { font-size:.875rem; }
// Override Font Awesome display
.fa.db { display: block; }
.fa.dib { display: inline-block; }
.fa.di { display: inline; }
