script(src="https://cdn.jsdelivr.net/g/lodash@4.11.1,jquery@2.2.1,instantsearch.js@1.8.13,momentjs@2.15.2(moment-with-locales.min.js)")
script(src="./js/in-viewport.min.js")
script(src="app.js")
script require('javascripts/app').default.init()
