header.fixed.top-0.w-100.bg-purple.white
  .flex-row-nowrap.mh3.h3
    .flex-none.lh-0.flex
      img.flex-auto.w4.db.mv2.mr4(src='./img/humantalks.png')

    .flex-auto.flex.flex-vcenter.w-20
      input#js-searchbar.w-100.h2.bg-purple.bt0.br0.bl0.bb.bw1.b--white.mr3.mt2.outline-0.white.f3

    .flex-auto.self-end.tr.pb1
      |Recherche par 
      a(href='https://www.algolia.com')
        img.h1.v-textbottom(src='./img/algolia.svg')

