// 
//     <header class="l-header">
//       <a href="./" class="header--home">
//         <img src="img/logo.png" class="header--logo" alt="Home logo" />
//       </a>
//       <div class="header--input-wrapper">
//         <input type="text" class="header--input" id="q" />
//       </div>
//       <div class="header--infos">
//         <div id="current-refined-values" class="header--current-refined-values"></div>
//         <div id="stats" class="header--stats"></div>
//       </div>
//       <a href="https://www.algolia.com/" class="header--algolia">
//         Recherche et ♥ par <img src="img/logo-algolia.svg" class="header--algolia-logo" alt="Algolia logo" />
//       </a>
//     </header>
