.flex-row-nowrap.mb2.pa2
  .flex-auto.title.f3.black-80
     #js-stats

  .flex-none
   a.bg-purple.hover-bg-blue.pa2.fr.white.link(href="http://humantalksparis.herokuapp.com/submit-talk", target="_blank") Proposer un talk

#js-hits
#js-pagination


.tl.f5.dark-gray.i.mt5
  |Les HumanTalks Paris sont possibles chaque mois grâce à nos sponsors: 
.flex-row-wrap.ma2
  +cloudinary_logo('neocase')
  +cloudinary_logo('humancoders')
  +cloudinary_logo('arolla')
  +cloudinary_logo('alwaysdata')
  +cloudinary_logo('soat')
  +cloudinary_logo('octo')
  +cloudinary_logo('nexeo')
  +cloudinary_logo('jetbrains')
  +cloudinary_logo('carbonit')

.mt3.tc
  a.f7.black-50.hover-purple.link(href="http://humantalksparis.herokuapp.com/home") Connexion admin
