#js-hits
#js-pagination
.tc.pa3
  +cloudinary_logo('neocase')
  +cloudinary_logo('humancoders')
  +cloudinary_logo('arolla')
  +cloudinary_logo('alwaysdata')
  +cloudinary_logo('soat')
  +cloudinary_logo('octo')
  +cloudinary_logo('nexeo')
  +cloudinary_logo('jetbrains')
  +cloudinary_logo('carbonit')
