// 
//       <aside class="l-sidebar">
//         <div id="clear-all"></div>
//         <section class="facet-wrapper">
//           <h3 class="facet--title">Tags</h3>
//           <div id="tags" class="facet"></div>
//           <h3 class="facet--title">Speaker</h3>
//           <div id="authors" class="facet"></div>
//           <h3 class="facet--title">Type</h3>
//           <div id="type" class="facet"></div>
//           <h3 class="facet--title">Supports</h3>
//           <div id="ressources" class="facet"></div>
//           <h3 class="facet--title">Année</h3>
//           <div id="year" class="facet facet__year"></div>
//         </section>
//         <div class="thank-you">
//           <p>
//             <a href="https://github.com/pixelastic/parisweb/">Code</a> 
//             ♥ <a href="http://blog.pixelastic.com/2016/09/05/building-a-search-in-all-the-parisweb-conferences/">Making of</a>
//             ♥ <a href="https://www.paris-web.fr/">Site officiel</a>
//           </p>
//         </div>
//       </aside>
