<script id="js-template-hits" language="x-template">
  <div class="flex-auto flex-row-nowrap mb2 ba b--black-30 bg-white shadow-3 pv2 ph3">

    <div class="flex-none w5 flex-column-nowrap">
      <a href="{{thumbnailLink}}" target="_blank" class="flex-auto flex-center flex link">
        <img src="{{thumbnail}}" class="br2 h4" />
      </a>
      <div class="flex-auto flex-row-nowrap items-end mt2">
        <a href="{{meetupUrl}}" target="_blank" class="flex-auto link hover-purple tc f6 dark-gray hit--meetup">
          <span class="fa fa-meetup db f3 mb1"></span>
          Meetup
        </a>
        {{#hasVideo}}
          <a href="{{videoUrl}}" target="_blank" class="flex-auto link hover-purple tc f6 dark-gray hit--video">
            <span class="fa fa-youtube db f3 mb1"></span>
            Video
          </a>
        {{/hasVideo}}
        {{#hasSlides}}
          <a href="{{slidesUrl}}" target="_blank" class="flex-auto link hover-purple tc f6 dark-gray hit--slides">
            <span class="fa fa-slideshare db f3 mb1"></span>
            Slides
          </a>
        {{/hasSlides}}
      </div>
    </div>

    <div class="flex-auto flex-column-nowrap pl2 f6 dark-gray">
      <a href="{{titleLink}}" target="_blank" class="hit--title title f3 no-b flex-none link purple b mv2 db">{{{title}}}</a>
      <div class="mb2 flex-none flex-row-wrap">
        {{#authors}}
          <a href="{{link}}" class="hit--author flex-none mr2 flex-row-nowrap flex-vcenter link dark-gray hover-purple" link dark-gray hover-purple">
            <img src="{{picture}}" class="hit--author-picture h2 flex-none mr2"/>
            <div class="flex-none">{{{highlightedName}}}</div>
          </a>
        {{/authors}}
      </div>
      <div class="flex-auto justify lh-copy">{{{description}}}</div>
      <a href="{{meetupUrl}}" class="hit--location flex-none self-end mt2 link dark-gray hover-purple">
        <div class="tr">
          Présenté le {{readableDate}} chez {{{readableLocation}}}
        </div>
      </div>
    </div>
  </div>
</script>


<script id="js-template-noresults" language="x-template">
  <div class="flex-auto b fa2 pa3 ma2 bg-white shadow-4 ba b--black-30 black-80">
    Aucun résultat. Pourquoi ne pas proposer un talk sur un sujet que vous aimeriez voir abordé?
  </div>
</script>
