// 
//     <script id="hitTemplate" language="x-template">
//       {{#thumbnail}}
//         <style>
//           #hit__{{objectID}} .hit--thumbnail:after {
//             background-image:url({{thumbnail}})
//           }
//         </style>
//       {{/thumbnail}}
//       <article id="hit__{{objectID}}" class="hit {{#inViewport}}hit__inViewport{{/inViewport}} {{#isConference}}hit__isConference{{/isConference}} {{#isWorkshop}}hit__isWorkshop{{/isWorkshop}}">
//         <a href="https://www.paris-web.fr/{{year}}" target="_blank" class="hit--year">{{year}}</a>
//         <a href="{{url}}" class="hit--title">{{{title}}}</a>
// 
//         <div class="hit--wrapper">
//           <div class="hit--ressources">
//             {{#thumbnailLink}}<a href="{{thumbnailLink}}">{{/thumbnailLink}}
//             <div class="hit--thumbnail"></div>
//             {{#thumbnailLink}}</a>{{/thumbnailLink}}
//             <div class="hit--external">
//               {{#video}}<a href="{{video}}" class="hit--ressource__video">Video</a>{{/video}}
//               {{#slides}}<a href="{{slides}}" class="hit--ressource__slides">Slides</a>{{/slides}}
//             </div>
//           </div>
// 
//           <div class="hit--details">
//             <ul class="hit--authors">
//             {{#authors}}<li 
//                 class="hit--author js-facet-toggle {{#isRefined}}hit-facet__isRefined{{/isRefined}}" 
//                 data-facet-name="authors.name"
//                 data-facet-value="{{plainName}}"
//                 style="background-image: url({{picture}})"
//               >{{{highlightedName}}}</li>
//             {{/authors}}
//             </ul>
//             <div class="hit--description">
//               <p>{{{description}}}</p>
//             </div>
//             <ul class="hit--tags">
//             {{#tags}}<li 
//               class="hit--tag js-facet-toggle {{#isRefined}}hit-facet__isRefined{{/isRefined}}" 
//               data-facet-name="tags" 
//               data-facet-value="{{plainValue}}"
//               >{{{highlightedValue}}}</li>
//             {{/tags}}
//             </ul>
//           </div>
//         </div>
//       </article>
//     </script>
//     <script id="noResults" language="x-template">
//       <div class="hits__noResults">
//         <p>Désolé, aucune conférence ni atelier ne correspond à votre recherche.</p>
//         <p>Si vous ne trouvez pas ce que vous cherchez, pourquoi ne pas proposer un sujet ?</p>
//       </div>
//     </script>
