include ./partials/config.pug

include ./partials/head.pug

body
  include ./partials/header.pug
  .flex-row-nowrap.mt5
    .flex-none.w5.pa2
      include ./partials/sidebar.pug
    .flex-auto
      include ./partials/hits.pug
      include ./partials/templates.html


include ./partials/foot.pug
