include ./partials/config.pug

include ./partials/head.pug

body
  include ./partials/header.pug
  include ./partials/sidebar.pug
  include ./partials/hits.pug
  include ./partials/templates.pug


include ./partials/foot.pug
